.hero {
  background-color: $color-background-purple-light;
  padding-top: 130px;
  padding-bottom: 60px;
  &__container {
    grid-area: center;
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    gap: 16px;
  }

  &__title {
    margin-top: 80px;
    font-size: #{fluid(32px, 40px)};
    font-weight: 600;
    line-height: 1.25;
    max-width: 20ch;

    span {
      color: $color-text-blue;
    }
  }

  &__accordion {
    .ac {
      $radius: 16px;
      margin-top: unset;
      border: unset;
      background-color: transparent;
      overflow: hidden;

      & .ac-trigger {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        font-family: "Onest", sans-serif;
      }

      &-button {
        font-weight: 500;
        padding: 0.85em 2.25em;
        border-radius: 8px;
        width: max-content;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
      }

      &:last-child {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      &--white {
        .ac-trigger,
        .ac-panel {
          background-color: white;
        }

        .ac-button {
          background-color: $color-background-blue;
          color: white;
        }
      }

      &--blue {
        .ac-header {
          background-color: white;
        }
        .ac-trigger,
        .ac-panel {
          background-color: $color-background-blue;
          color: white;
        }

        .ac-button {
          background-color: white;
          color: $color-text-blue;
        }
      }

      &--orange {
        .ac-header {
          background-color: $color-background-blue;
        }
        .ac-trigger,
        .ac-panel {
          background-color: $color-background-peach;
          color: white;
        }

        .ac-button {
          background-color: white;
          color: $color-text-peach;
        }
      }

      &-trigger {
        text-wrap: balance;
        font: unset;
        color: currentColor;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-inline: 40px;
        font-size: #{fluid(16px, 24px)};
        font-weight: 600;
        &::after {
          display: none;
        }
      }

      &-panel {
        padding-inline: 40px;
      }

      &-content {
        text-wrap: balance;
        height: 12em;
        font-size: #{fluid(14px, 16px)};
        display: flex;
        flex-direction: column;
      }

      .is-active {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    padding-top: 90px;
    &__container {
      gap: 20px;
    }

    &__content {
    }

    &__title {
      margin-top: 64px;
      font-size: 26px;
    }

    &__accordion {
      .ac {
        $radius: 12px;
        & .ac-trigger {
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
        }

        &:last-child {
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;
        }

        &--white {
          .ac-trigger,
          .ac-panel {
          }
        }

        &--blue {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &--orange {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &-trigger {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-inline: 20px;
          &::after {
          }
        }

        &-panel {
          padding-inline: 20px;
        }

        &-content {
          height: 15em;
        }

        .is-active {
          &::after {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__container {
      grid-template-columns: 1fr;
    }

    &__content {
    }

    &__title {
      font-size: 32px;
      margin-top: unset;
      max-width: unset;
    }

    &__accordion {
      .ac {
        & .ac-trigger {
        }

        &:last-child {
        }

        &-button {
          width: 100%;
        }

        &--white {
          .ac-trigger,
          .ac-panel {
          }
        }

        &--blue {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &--orange {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &-trigger {
          &::after {
          }
        }

        &-panel {
        }

        &-content {
        }

        .is-active {
          &::after {
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .hero {
    &__container {
    }

    &__content {
    }

    &__title {
      font-size: 24px;
    }

    &__accordion {
      .ac {
        & .ac-trigger {
        }

        &:last-child {
        }

        &-button {
          width: 100%;
          padding-inline: 10px;
        }

        &--white {
          .ac-trigger,
          .ac-panel {
          }
        }

        &--blue {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &--orange {
          .ac-header {
          }
          .ac-trigger,
          .ac-panel {
          }
        }

        &-trigger {
          &::after {
          }
        }

        &-panel {
        }

        &-content {
        }

        .is-active {
          &::after {
          }
        }
      }
    }
  }
}
