$color-text-black: #273137;
$color-text-gray: #8596a0;
$color-text-blue: #5c7ef4;
$color-text-green: #5eb728;
$color-text-red: #f43e36;
$color-text-orange: #f38928;
$color-text-peach: #f78763;

$color-background-gray: #e9eff2;
$color-background-gray-light: #fafbfc;
$color-background-blue: #5c7ef4;
$color-background-blue-light: #ebefff;
$color-background-purple: #dbe1f4;
$color-background-purple-light: #f1f4f9;
$color-background-green: #dbf3cc;
$color-background-red: #ffd8d7;
$color-background-orange: #ffe4cc;
$color-background-peach: #f78763;
$color-background-peach-light: #ffefea;

$color-border-gray: #e9eff2;
$color-border-peach: #f78763;
$color-border-blue: #5c7ef4;

// Переменные для миксина контейнера
$breakpoint-to-fluid: 992px;
$base-vw: 1920px;

$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// ширина контейнера + padding с двух сторон
$container-lg: 1306px;
$container-md: 720px;
$container-sm: 540px;

$p: 16px;

@font-face {
  font-family: "Onest";
  src: url("../fonts/onest/onest-variable.ttf") format("truetype-variations");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Onest", sans-serif;
  color: $color-text-black;
  background-color: $color-background-purple-light;
}

@media (max-width: 992px) {
  .body-overflow {
    max-height: 100vh;
    overflow-y: clip;
  }
}

//тоже самое, что и контейнер, только больше возможностей
.section {
  --container-width: #{$container-lg};

  display: grid;
  grid-template-columns:
    [full-start left-start]
    minmax($p, 1fr)
    [right-start center-start]
    minmax(0, var(--container-width))
    [left-end center-end]
    minmax($p, 1fr)
    [full-end right-end];

  grid-template-rows:
    [full-start left-start center-start right-start]
    auto
    [full-end left-end center-end right-end];

  @media (max-width: $breakpoint-lg) {
    --container-width: #{$container-md};
  }
  @media (max-width: $breakpoint-md) {
    --container-width: #{$container-sm};
  }
  @media (max-width: $breakpoint-sm) {
    --container-width: 100%;
  }
}
