---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  error?: boolean;
  success?: boolean;
}

const { type, error, success, ...restProps } = Astro.props;

const classList = [
  "input__element",
  { "input__element--date": type === "date" },
  { "input__element--password": type === "password" },
];
---

<div class:list={["input", { "input--error": error }]}>
  <input
    {...restProps}
    type={type === "date" ? "text" : type}
    class:list={classList}
  />
  {type === "password" && <div class="input__icon icon-eye" />}
  {type === "date" && <div class="input__icon icon-calendar" />}
  {error && <span class="input__error">Текст ошибки</span>}
  {success && <div class="input__check icon-check" />}
</div>
