---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"select"> {
  options: string[];
  error?: boolean;
  filter?: boolean;
  big?: boolean;
}

const { options, error, filter, big, ...restProps } = Astro.props;
---

<div
  class:list={[
    "select",
    { "select--error": error },
    { "select--filter": filter },
    { "select--big": big },
  ]}
>
  <select {...restProps} class="select__element">
    {options.map((value) => <option {value}>{value}</option>)}
  </select>
  {error && <span class="select__error">Текст ошибки</span>}
</div>
