---

---

<div class="ac ac--white">
  <div class="ac-header">
    <div class="ac-trigger">Управление информационными данными компании</div>
  </div>
  <div class="ac-panel">
    <div class="ac-content">
      <p>
        Любые не системные документы, информацию, приводим в системную
        структуру, каталогизируем, разрабатываем документы в едином стиле,
        вносим в базы данных компании и сервисы, где эта информация начинает
        работать.
      </p>
      <a class="ac-button" href="#manage">Система Документы компании</a>
    </div>
  </div>
</div>
<div class="ac ac--blue">
  <div class="ac-header">
    <div class="ac-trigger">Корпоративный портал Всё системно Документы</div>
  </div>
  <div class="ac-panel">
    <div class="ac-content">
      <p>
        Для эффективного управления данными их сбор, каталогизация, работа с
        актуальными документами
      </p>
      <a class="ac-button" href="#portal">Система Документы компании</a>
    </div>
  </div>
</div>
<div class="ac ac--orange">
  <div class="ac-header">
    <div class="ac-trigger">Разработка электронных каталогов</div>
  </div>
  <div class="ac-panel">
    <div class="ac-content">
      <p>
        Разработка электронных каталогов: информация, документы, объекты и
        оборудование учета, справочники.
      </p>
      <a class="ac-button" href="#catalog">Разработка электронных каталогов</a>
    </div>
  </div>
</div>
