/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
}

/*
Set the default cursor for buttons.
*/
button,
[role=button] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/onest/onest-variable.ttf") format("truetype-variations");
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Onest", sans-serif;
  color: #273137;
  background-color: #f1f4f9;
}

@media (max-width: 992px) {
  .body-overflow {
    max-height: 100vh;
    overflow-y: clip;
  }
}
.section {
  --container-width: 1306px;
  display: grid;
  grid-template-columns: [full-start left-start] minmax(16px, 1fr) [right-start center-start] minmax(0, var(--container-width)) [left-end center-end] minmax(16px, 1fr) [full-end right-end];
  grid-template-rows: [full-start left-start center-start right-start] auto [full-end left-end center-end right-end];
}
@media (max-width: 992px) {
  .section {
    --container-width: 720px;
  }
}
@media (max-width: 768px) {
  .section {
    --container-width: 540px;
  }
}
@media (max-width: 576px) {
  .section {
    --container-width: 100%;
  }
}
.section--grow {
  flex-grow: 1;
}
.section--mb {
  margin-bottom: 60px;
}
.section__container {
  grid-area: center;
  height: max-content;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.field__label {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
}
.field__label--gray {
  color: #8596a0;
}

.input {
  display: grid;
  grid-template-columns: 1fr auto;
}
.input__element {
  grid-area: 1/1/-1/-1;
  border: 1px solid #e9eff2;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  padding: 14px 20px;
  transition: border-color 0.38s ease-in-out;
}
.input__element::placeholder {
  color: #8596a0;
}
.input__element:focus, .input__element:focus-visible {
  outline: unset;
  border-color: #5c7ef4;
}
.input__element--password {
  padding-right: 50px;
}
.input__icon {
  cursor: pointer;
  grid-area: 1/2/-1/-1;
  font-size: 20px;
  color: #8596a0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.input__element--date + .input__icon {
  pointer-events: none;
}

@media (max-width: 992px) {
  .input__element {
    padding: 12px 16px;
  }
  .input__icon {
    width: 50px;
  }
}
.choices {
  font-size: 14px;
  margin: unset;
  line-height: 1;
}

.choices__list--single {
  padding: 6px 16px 4px 4px;
}

.choices__inner {
  border: 1px solid #e9eff2;
  background-color: white;
  border-radius: 8px;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 11px 15px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 11px 19px;
}

.choices[data-type*=select-one]::after {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.4694 6.53061L7.4694 11.5306C7.53908 11.6005 7.62187 11.656 7.71304 11.6939C7.8042 11.7317 7.90194 11.7512 8.00065 11.7512C8.09936 11.7512 8.1971 11.7317 8.28827 11.6939C8.37943 11.656 8.46222 11.6005 8.5319 11.5306L13.5319 6.53061C13.6728 6.38972 13.752 6.19862 13.752 5.99936C13.752 5.80011 13.6728 5.60901 13.5319 5.46811C13.391 5.32722 13.1999 5.24806 13.0007 5.24806C12.8014 5.24806 12.6103 5.32722 12.4694 5.46811L8.00003 9.93749L3.53065 5.46749C3.38976 5.32659 3.19866 5.24744 2.9994 5.24744C2.80015 5.24744 2.60905 5.32659 2.46815 5.46749C2.32726 5.60838 2.2481 5.79948 2.2481 5.99874C2.2481 6.19799 2.32726 6.38909 2.46815 6.52999L2.4694 6.53061Z" fill="%238596A0"/></svg>');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  border: unset;
  margin-top: -8px;
  right: 20px;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -8px;
  transform: rotate(180deg);
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #5c7ef4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: #5c7ef4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-width: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f1f4f9;
}

@media (max-width: 992px) {
  .choices__inner {
    border: 1px solid #e9eff2;
    background-color: white;
    border-radius: 8px;
  }
  .choices[data-type*=select-one] .choices__inner {
    padding: 9px 13px;
  }
  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 11px 17px;
  }
  .choices[data-type*=select-one]::after {
    right: 16px;
  }
}
.guest {
  display: grid;
  grid-template-columns: minmax(12px, 1fr) auto minmax(12px, 1fr);
}
.guest__container {
  grid-area: 1/2/-1/-2;
  margin-top: 90px;
  margin-bottom: 90px;
  display: grid;
  justify-content: center;
  gap: 50px;
}
.guest__logo {
  height: 50px;
  width: 148px;
  justify-self: center;
}
.guest__card {
  --_padding: 80px;
  display: grid;
  padding-top: var(--_padding);
  padding-bottom: 60px;
  grid-template-columns: var(--_padding) minmax(auto, 455px) var(--_padding);
  border-radius: 20px;
  width: fit-content;
  background-color: white;
}
.guest__card > * {
  grid-column: 2/-2;
}
.guest__title {
  font-weight: 600;
  font-size: 26px;
  justify-self: center;
  text-align: center;
}
.guest__subtitle {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding-inline: 1ch;
}
.guest__title, .guest__subtitle {
  margin-bottom: 30px;
}
.guest__form {
  display: grid;
  gap: 10px;
}
.guest__cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 1ch;
  line-height: 1;
}
.guest__footer {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 992px) {
  .guest__container {
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .guest__card {
    --_padding: 40px;
    padding-bottom: 30px;
    border-radius: 16px;
  }
  .guest__title, .guest__subtitle {
    margin-bottom: 16px;
  }
  .guest__footer {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .guest__container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .guest__card {
    --_padding: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .guest__title {
    font-size: 20px;
    line-height: 1.25;
  }
  .guest__subtitle {
    font-size: 12px;
  }
  .guest__footer {
    margin-top: 30px;
  }
}
.checkbox {
  display: flex;
  gap: 10px;
}
.checkbox--mt20 {
  margin-top: 20px;
}
.checkbox__label {
  cursor: pointer;
  hyphens: auto;
  font-weight: 400;
}
.checkbox__label--normal {
  font-size: 14px;
  line-height: 1;
}
.checkbox__label--small {
  font-size: 12px;
}
.checkbox__element {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 14px;
  width: 14px;
  color: white;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e9eff2;
  cursor: pointer;
  transition-property: border-color color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.38s;
}
.checkbox__element:checked {
  background-size: 8px;
  color: #5c7ef4;
  border-color: #5c7ef4;
  background-color: currentColor;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.25017 6.43242L1.226 4.40826C1.11693 4.29919 0.968998 4.23791 0.81475 4.23791C0.660501 4.23791 0.51257 4.29919 0.4035 4.40826C0.294429 4.51733 0.233154 4.66526 0.233154 4.81951C0.233154 4.89588 0.248198 4.97151 0.277426 5.04207C0.306654 5.11264 0.349494 5.17675 0.4035 5.23076L2.84183 7.66909C3.06933 7.89659 3.43683 7.89659 3.66433 7.66909L9.836 1.49742C9.94507 1.38835 10.0063 1.24042 10.0063 1.08617C10.0063 0.931924 9.94507 0.783993 9.836 0.674923C9.72693 0.565853 9.579 0.504578 9.42475 0.504578C9.2705 0.504578 9.12257 0.565853 9.0135 0.674923L3.25017 6.43242Z" fill="white"/></svg>');
}
.checkbox a {
  color: #5c7ef4;
  transition: color 0.38s ease-in-out;
  text-decoration: underline;
}
.checkbox a:hover {
  color: color-mix(in srgb, #5c7ef4 75%, black 25%);
}

.button {
  font-weight: 500;
  line-height: 1.25;
  border-radius: 8px;
  padding: 0.9em 1.25em;
  text-align: center;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
  transition-property: background-color;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.button__icon {
  font-size: 1.15em;
}
.button--normal {
  font-size: 16px;
}
.button--small {
  font-size: 14px;
}
.button--blue {
  background-color: #5c7ef4;
  color: white;
}
.button--blue:hover {
  background-color: color-mix(in srgb, #5c7ef4 90%, black 10%);
}
.button--orange {
  background-color: #f78763;
  color: white;
}
.button--white {
  background-color: white;
}
.button--white:hover {
  background-color: color-mix(in srgb, white 95%, black 5%);
}
.button--mt20 {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .button--normal {
    font-size: 14px;
  }
  .button--small {
    font-size: 12px;
  }
}
.link {
  color: #5c7ef4;
  transition: color 0.38s ease-in-out;
  text-decoration: underline;
}
.link--normal {
  font-size: 14px;
  font-weight: 400;
}
.link:hover {
  color: color-mix(in srgb, #5c7ef4 75%, black 25%);
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  grid-area: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: clamp(16px, 4vw, 70px);
}
.header__content {
  grid-area: full;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
}
.header__menu {
  display: none;
  z-index: 15;
}
.header__logo {
  object-fit: contain;
  height: 50px;
  width: 148px;
  z-index: 15;
  object-position: left;
}
.header__search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2px;
  align-items: center;
}
.header__search-icon {
  font-size: 22px;
  grid-area: 1/1/-1/2;
  width: 40px;
  display: flex;
  justify-content: center;
  color: #8596a0;
  transition: color 0.38s ease-in-out;
}
.header__search-icon:hover {
  color: #5c7ef4;
}
.header__search-input {
  grid-area: 1/1/-1/-1;
  font-size: 14px;
  padding: 12px;
  padding-left: 40px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  transition: outline 0.38s ease-in-out;
  border-radius: 4px;
  line-height: 1;
}
.header__search-input::placeholder {
  color: #8596a0;
}
.header__search-input:focus, .header__search-input:focus-visible {
  outline-color: #5c7ef4;
}
.header__navigation {
  justify-self: end;
}
.header__list {
  display: flex;
  gap: clamp(8px, 2.5vw, 40px);
}
.header__list-link {
  font-size: clamp(14px, 1.25vw, 16px);
  line-height: 1;
  font-weight: 400;
  transition: color 0.38s ease-in-out;
}
.header__list-link:hover {
  color: #5c7ef4;
}
.header__user {
  justify-self: end;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 5px;
  column-gap: 15px;
}
.header__user-avatar {
  grid-row: span 2;
}
.header__user-avatar img {
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 999px;
}
.header__user-name {
  font-size: clamp(14px, 1.25vw, 16px);
  line-height: 1;
  line-height: 1.5;
  font-weight: 500;
  transition: color 0.38s ease-in-out;
}
.header__user-name:hover {
  color: #5c7ef4;
}
.header__user-logout {
  font-size: 14px;
  color: #8596a0;
  line-height: 1.5;
  display: flex;
  gap: 10px;
  transition: color 0.38s ease-in-out;
}
.header__user-logout-icon {
  font-size: 20px;
}
.header__user-logout:hover {
  color: #f78763;
}
.header__menu {
  font-size: 28px;
}

@media (max-width: 992px) {
  .header {
    --_pt: 60px;
    min-height: var(--_pt);
  }
  .header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: unset;
    padding-bottom: unset;
  }
  .header__wrapper {
    position: fixed;
    height: 100%;
    background-color: white;
    width: 100%;
    left: -100%;
    top: 0;
    transition: left 0.38s ease-in-out;
    padding-top: var(--_pt);
  }
  .header__wrapper--open {
    left: 0;
  }
  .header__content {
    grid-area: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 20px;
    padding-top: 20px;
  }
  .header__menu {
    cursor: pointer;
    display: block;
  }
  .header__logo {
    height: 36px;
    width: 130px;
  }
  .header__form {
    width: 100%;
    padding-inline: 1px;
  }
  .header__search-input {
    outline-color: #e9eff2;
  }
  .header__navigation {
    width: 100%;
  }
  .header__list {
    flex-direction: column;
    gap: 16px;
  }
  .header__list-link {
    font-size: 16px;
  }
  .header__user {
    align-self: start;
  }
}
.footer {
  background-color: #2c2d2f;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.footer__container {
  grid-area: center;
}
.footer__copyright {
  font-size: 14px;
}
.backlink {
  margin-top: 130px;
  margin-bottom: 40px;
}
.backlink__container {
  grid-area: center;
  width: max-content;
}
.backlink__element {
  font-size: 16px;
  line-height: 1;
  color: #5c7ef4;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: color 0.38s ease-in-out;
}
.backlink__element:hover {
  color: color-mix(in srgb, #5c7ef4 75%, black 25%);
}
.backlink__element span {
  font-size: 1.5em;
}

@media (max-width: 992px) {
  .backlink {
    margin-top: 90px;
    margin-bottom: 30px;
  }
  .backlink__element {
    font-size: 14px;
  }
}
.profile {
  flex-grow: 1;
  margin-bottom: 60px;
}
.profile__container {
  grid-area: center;
  background-color: white;
  border-radius: 30px;
  padding: clamp(20px, 2.5vw, 40px);
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  gap: 20px;
  height: max-content;
}
.profile__avatar {
  min-height: clamp(120px, 13vw, 178px);
  min-width: clamp(120px, 13vw, 178px);
  height: clamp(120px, 13vw, 178px);
  width: clamp(120px, 13vw, 178px);
  margin-bottom: 20px;
}
.profile__name {
  font-weight: 600;
  font-size: clamp(18px, 2vw, 24px);
  margin-bottom: 10px;
  line-height: 1.25;
}
.profile__role {
  font-size: 14px;
  color: #8596a0;
}
.profile__form {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
}
.profile__col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 992px) {
  .profile__container {
    grid-template-columns: 1fr;
    padding: 16px;
    border-radius: 10px;
  }
  .profile__info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 20px;
  }
  .profile__avatar {
    grid-row: span 2;
    min-height: 60px;
    min-width: 60px;
    height: 60px;
    width: 60px;
    margin-bottom: unset;
  }
  .profile__name {
    margin-bottom: unset;
    font-size: 18px;
  }
  .profile__form {
    gap: 15px;
  }
  .profile__col {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .profile__form {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.headline {
  margin-top: 150px;
  margin-bottom: 40px;
}
.headline__container {
  grid-area: center;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
}
.headline__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.25;
}
.headline__content {
  display: flex;
  gap: 10px;
}

@media (max-width: 992px) {
  .headline {
    margin-top: 90px;
    margin-bottom: 30px;
  }
  .headline__container {
    flex-direction: column;
    align-items: unset;
  }
  .headline__title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .headline__content {
    flex-direction: column;
  }
}
.table {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #e9eff2;
  overflow: hidden;
  overflow-x: auto;
}
.table--status :is(th, td):nth-last-child(1) {
  text-align: center;
}
.table--role :is(th, td):nth-last-child(2) {
  text-align: center;
  width: 15%;
}
.table--id :is(th, td):nth-child(1) {
  width: 8%;
}
.table table {
  min-width: 100%;
  width: 100%;
  background-color: white;
}
.table thead {
  background-color: #dbe1f4;
  outline: 1px solid #dbe1f4;
}
.table tr:not(:first-of-type) {
  border-top: 1px solid #e9eff2;
}
.table th {
  font-weight: 500;
}
.table td {
  font-weight: 400;
}
.table th,
.table td {
  text-align: left;
  line-height: 1.25;
  height: 44px;
  font-size: clamp(12px, 1.25vw, 14px);
  padding: 4px;
  padding-inline: 10px;
}
.table th:first-of-type,
.table td:first-of-type {
  padding-left: 20px;
}
.table th:last-of-type,
.table td:last-of-type {
  padding-right: 20px;
}
.table .green,
.table .yellow,
.table .red {
  font-size: 12px;
  border-radius: 42px;
  padding: 4px 16px;
}
.table .green {
  background-color: #dbf3cc;
  color: #5eb728;
}
.table .yellow {
  background-color: #ffe4cc;
  color: #f38928;
}
.table .red {
  background-color: #ffd8d7;
  color: #f43e36;
}

@media (max-width: 992px) {
  .table table {
    width: max-content;
  }
}
.storage {
  flex-grow: 1;
  margin-bottom: 60px;
}
.storage__container {
  grid-area: center;
}
.storage__content {
  position: relative;
}
.storage__item {
  border-radius: 16px;
  border-bottom: 3px solid #f78763;
  position: absolute;
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: max-content;
  column-gap: 20px;
  row-gap: 30px;
}
.storage__icon {
  font-size: 30px;
  color: #f78763;
}
.storage__title {
  font-size: 20px;
  font-weight: 500;
  align-self: center;
}
.storage__list {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 15px;
}
.storage__link {
  color: #273137;
  transition: color 0.38s ease-in-out;
}
.storage__link:hover {
  color: #5c7ef4;
}

@media (max-width: 992px) {
  .storage__item {
    padding: 15px;
    column-gap: 10px;
    row-gap: 15px;
    border-radius: 8px;
  }
  .storage__icon {
    font-size: 24px;
  }
  .storage__title {
    font-size: 18px;
  }
  .storage__list {
    gap: 10px;
  }
}
.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2px;
  align-items: center;
}
.search__element {
  grid-area: 1/1/-1/-1;
  font-size: 14px;
  padding: 16px;
  padding-left: 10px;
  padding-right: 40px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  transition: outline 0.38s ease-in-out;
  border-radius: 4px;
  line-height: 1;
  min-width: clamp(300px, 40vw, 540px);
}
.search__element::placeholder {
  color: #8596a0;
}
.search__element:focus, .search__element:focus-visible {
  outline-color: #5c7ef4;
}
.search__icon {
  font-size: 22px;
  grid-area: 1/2/-1/-1;
  width: 40px;
  display: flex;
  justify-content: center;
  color: #8596a0;
  transition: color 0.38s ease-in-out;
}
.search__icon:hover {
  color: #5c7ef4;
}

/*# sourceMappingURL=style.css.map */
