@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tukdm');
  src:  url('fonts/icomoon.eot?tukdm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tukdm') format('truetype'),
    url('fonts/icomoon.woff?tukdm') format('woff'),
    url('fonts/icomoon.svg?tukdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-setting:before {
  content: "\e901";
}
.icon-computer:before {
  content: "\e902";
}
.icon-document:before {
  content: "\e903";
}
.icon-file-left:before {
  content: "\e904";
}
.icon-wifi:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e907";
}
.icon-eye-off:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-log-out:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-arrow-small:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
