.fieldset {
  max-width: 1046px;

  &__legend {
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__row {
    &--one {
      display: grid;
      grid-auto-columns: minmax(auto, 375px);
    }

    &--third {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &--full {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &--tag {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-bottom: 15px;
    }
  }

  &__add {
    font-size: 14px;
    color: $color-text-peach;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.38s ease-in-out;
    width: max-content;

    &:hover {
      color: $color-text-blue;
    }
  }
}

@media (max-width: 992px) {
  .fieldset {
    &__legend {
      margin-bottom: 10px;
      font-size: 14px;
    }

    &__row {
      &--third {
        grid-template-columns: 1fr;
      }

      &--full {
      }
      &--tag {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__add {
      &:hover {
      }
    }
  }
}

@media (max-width: 576px) {
  .fieldset {
    &__legend {
    }

    &__row {
      &--third {
      }

      &--full {
      }
      &--tag {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__add {
      &:hover {
      }
    }
  }
}
