.select {

  &--filter {
  }

  &--big {

    min-width: 275px;
  }
  
  &__element {
  }

  &__error {
    margin-top: 4px;
    font-size: 12px;
    color: $color-text-red;
  }
}

.choices {
  font-size: 14px;
  margin: unset;
  line-height: 1;
}

.choices__list--single {
  padding: 6px 16px 4px 4px;
}

.choices__inner {
  border: 1px solid $color-border-gray;
  background-color: white;
  border-radius: 8px;
}

.select--filter {
  .choices__inner {
    font-size: 16px;
    font-weight: 500;
  }
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 11px 15px;
}

.select--filter {
  .choices[data-type*="select-one"] .choices__inner {
    padding-left: 44px;
    padding-right: 4px;
  }
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 11px 19px;
}

.choices[data-type*="select-one"]::after {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.4694 6.53061L7.4694 11.5306C7.53908 11.6005 7.62187 11.656 7.71304 11.6939C7.8042 11.7317 7.90194 11.7512 8.00065 11.7512C8.09936 11.7512 8.1971 11.7317 8.28827 11.6939C8.37943 11.656 8.46222 11.6005 8.5319 11.5306L13.5319 6.53061C13.6728 6.38972 13.752 6.19862 13.752 5.99936C13.752 5.80011 13.6728 5.60901 13.5319 5.46811C13.391 5.32722 13.1999 5.24806 13.0007 5.24806C12.8014 5.24806 12.6103 5.32722 12.4694 5.46811L8.00003 9.93749L3.53065 5.46749C3.38976 5.32659 3.19866 5.24744 2.9994 5.24744C2.80015 5.24744 2.60905 5.32659 2.46815 5.46749C2.32726 5.60838 2.2481 5.79948 2.2481 5.99874C2.2481 6.19799 2.32726 6.38909 2.46815 6.52999L2.4694 6.53061Z" fill="%238596A0"/></svg>');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  border: unset;
  margin-top: -8px;
  right: 20px;
}
.select--filter {
  .choices[data-type*="select-one"]::after {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 4.6875C1.25 4.43886 1.34877 4.2004 1.52459 4.02459C1.7004 3.84877 1.93886 3.75 2.1875 3.75H17.8125C18.0611 3.75 18.2996 3.84877 18.4754 4.02459C18.6512 4.2004 18.75 4.43886 18.75 4.6875C18.75 4.93614 18.6512 5.1746 18.4754 5.35041C18.2996 5.52623 18.0611 5.625 17.8125 5.625H2.1875C1.93886 5.625 1.7004 5.52623 1.52459 5.35041C1.34877 5.1746 1.25 4.93614 1.25 4.6875ZM4.375 9.6875C4.375 9.43886 4.47377 9.2004 4.64959 9.02459C4.8254 8.84877 5.06386 8.75 5.3125 8.75H14.6875C14.9361 8.75 15.1746 8.84877 15.3504 9.02459C15.5262 9.2004 15.625 9.43886 15.625 9.6875C15.625 9.93614 15.5262 10.1746 15.3504 10.3504C15.1746 10.5262 14.9361 10.625 14.6875 10.625H5.3125C5.06386 10.625 4.8254 10.5262 4.64959 10.3504C4.47377 10.1746 4.375 9.93614 4.375 9.6875ZM8.4375 13.75C8.18886 13.75 7.9504 13.8488 7.77459 14.0246C7.59877 14.2004 7.5 14.4389 7.5 14.6875C7.5 14.9361 7.59877 15.1746 7.77459 15.3504C7.9504 15.5262 8.18886 15.625 8.4375 15.625H11.5625C11.8111 15.625 12.0496 15.5262 12.2254 15.3504C12.4012 15.1746 12.5 14.9361 12.5 14.6875C12.5 14.4389 12.4012 14.2004 12.2254 14.0246C12.0496 13.8488 11.8111 13.75 11.5625 13.75H8.4375Z" fill="%238596A0"/></svg>');
    height: 20px;
    width: 20px;
    right: unset;
    left: 20px;
  }
}
.choices[data-type*="select-one"].is-open::after {
  margin-top: -8px;
  transform: rotate(180deg);
}

.select--filter {
  .choices[data-type*="select-one"].is-open::after {
    transform: unset;
  }
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: $color-border-blue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select--filter {
  .is-focused .choices__inner,
  .is-open .choices__inner {
    border-color: $color-border-gray;
    border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.is-flipped.is-open .choices__inner {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: $color-border-blue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-width: 0;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  border-color: $color-border-blue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-width: 1px;
  border-bottom-width: 0;
}

.select--filter {
  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
    margin-top: 8px;
    border-radius: 8px;
    border: unset;
    box-shadow: 0px 4px 15.6px 0px #8596a036;
  }
  .is-flipped .choices__list--dropdown,
  .is-flipped .choices__list[aria-expanded] {
    margin-bottom: 8px;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 11px;
    padding-bottom: 11px;
    word-break: auto-phrase;
  }

  .choices__list--dropdown .choices__list,
  .choices__list[aria-expanded] .choices__list {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline: 20px;
  }
}

.select--error {
  .is-focused .choices__inner,
  .is-open .choices__inner {
    border-color: $color-text-red;
  }

  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
    border-color: $color-text-red;
  }

  .is-flipped .choices__list--dropdown,
  .is-flipped .choices__list[aria-expanded] {
    border-color: $color-text-red;
  }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: $color-background-purple-light;
}

.select--filter {
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: unset;
    color: $color-background-peach;
  }
  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding-inline: unset;
    &:not(:last-child) {
      border-bottom: 1px solid $color-border-gray;
    }
  }
}

@media (max-width: 992px) {
  .choices {
  }

  .choices__list--single {
  }

  .choices__inner {
    border: 1px solid $color-border-gray;
    background-color: white;
    border-radius: 8px;
  }
  .choices[data-type*="select-one"] .choices__inner {
    padding: 9px 13px;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 11px 17px;
  }

  .choices[data-type*="select-one"]::after {
    right: 16px;
  }

  .choices[data-type*="select-one"].is-open::after {
  }
  .is-focused .choices__inner,
  .is-open .choices__inner {
  }
  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  }
}
