---
import Headline from "@components/Headline.astro";
import LayoutUser from "@components/LayoutUser.astro";
import Section from "@components/Section.astro";
import Table from "@components/Table.astro";
import type { TableType } from "@components/Table.astro";
import Button from "@components/Button.astro";

const head: TableType["head"] = [
  "Название",
  "Дата регистрации",
  "Сотрудников",
  "Статус",
];
const body: TableType["body"] = [
  [
    { text: "ООО “Ромашка”", type: "link" },
    { text: "03.03.2024" },
    { text: "14" },
    { text: "Активна", type: "green" },
  ],
  [
    { text: "ООО “Ромашка”", type: "link" },
    { text: "03.03.2024" },
    { text: "24" },
    { text: "Не активна", type: "yellow" },
  ],
  [
    { text: "ООО “Ромашка”", type: "link" },
    { text: "03.03.2024" },
    { text: "1245" },
    { text: "Не активна", type: "yellow" },
  ],
  [
    { text: "ООО “Ромашка”", type: "link" },
    { text: "03.03.2024" },
    { text: "62223" },
    { text: "Не активна", type: "yellow" },
  ],
  [
    { text: "ООО “Ромашка”", type: "link" },
    { text: "03.03.2024" },
    { text: "1409" },
    { text: "Не активна", type: "green" },
  ],
];
---

<LayoutUser title="Компании">
  <Headline top="40" title="Компании">
    <Button href="/createCompany.html" size="small" icon="plus" color="orange">
      Добавить компанию
    </Button>
  </Headline>
  <Section>
    <Table status {head} {body} />
  </Section>
</LayoutUser>
