---
import Backlink from "@components/Backlink.astro";
import Button from "@components/Button.astro";
import Fieldset from "@components/Input/Fieldset.astro";
import Input from "@components/Input/Input.astro";
import Select from "@components/Input/Select.astro";
import Textarea from "@components/Input/Textarea.astro";
import LayoutUser from "@components/LayoutUser.astro";
import Section from "@components/Section.astro";
import Surface from "@components/Surface.astro";
---

<LayoutUser title="Создать подкатегорию">
  <Backlink href="/category.html">Назад</Backlink>
  <Section>
    <Surface variant="create" title="Создать подкатегорию" form>
      <Fieldset legend="Название категории" variant="third">
        <Select
          id="category"
          name="category"
          options={[
            "Подкатегория 1",
            "Подкатегория 2",
            "Подкатегория 3",
            "Подкатегория 4",
            "Подкатегория 5",
          ]}
        />
      </Fieldset>
      <Fieldset legend="Название подкатегории" variant="third">
        <Input name="subcategory" placeholder="Название" />
      </Fieldset>

      <Fieldset legend="Краткое описание" variant="full">
        <Textarea placeholder="Описание" name="description" />
      </Fieldset>
      <Fieldset legend="Основные теги" variant="tag">
        <Input name="tag" placeholder="Тег" />
        <Input name="tag" placeholder="Тег" />
        <Input name="tag" placeholder="Тег" />
        <Input name="tag" placeholder="Тег" />
        <div class="fieldset__add">Добавить</div>
      </Fieldset>
      <div >
        <Button size="wide" submit >Сохранить</Button>
      </div>
    </Surface>
  </Section>
</LayoutUser>
