---
import Layout from "@components/Layout.astro";
import Guest from "@components/Guest.astro";
import Field from "@components/Field.astro";
import Input from "@components/Input.astro";
import Button from "@components/Button.astro";
---

<Layout title="Восстановление пароля">
  <Guest
    paddingBottom="60"
    title="Восстановление пароля"
    subtitle="Введите номера телефона или e-mail пользователя. На вашу почту будет отправлена ссылка для восстановления доступа к системе"
  >
    <Fragment slot="form">
      <Field id="login" label="Телефон или E-mail">
        <Input id="login" name="login" />
      </Field>
      <Button submit marginTop="20">Отправить</Button>
    </Fragment>
  </Guest>
</Layout>
