---
import Layout from "@components/Layout.astro";
import Field from "@components/Field.astro";
import Input from "@components/Input.astro";
import Select from "@components/Select.astro";
---

<Layout title="Главная страница">
  <Field label="Логин" id="name">
    <Input id="name" type="password" placeholder="password" />
  </Field>
  <Field label="Пароль" id="name1" variant="gray">
    <Input id="name1" type="date" />
  </Field>

  <!-- <select name="123" id="">
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select> -->

  <!-- <Select name="select1">
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </Select> -->
</Layout>
