---
import Layout from "@components/Layout.astro";
import Guest from "@components/Guest.astro";
import Field from "@components/Input/Field.astro";
import Input from "@components/Input/Input.astro";
import Checkbox from "@components/Checkbox.astro";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";
---

<Layout title="Вход">
  <Guest title="Вход">
    <Fragment slot="form">
      <Field id="name" label="Логин">
        <Input id="name" name="name" placeholder="Введите логин" />
      </Field>
      <Field id="password" label="Пароль">
        <Input
          id="password"
          name="password"
          type="password"
          placeholder="Ваш пароль"
        />
      </Field>
      <div class="guest__cols">
        <Checkbox id="save" name="save">Сохранить данные входа</Checkbox>
        <Link href="/forgotPassword.html"> Забыли пароль? </Link>
      </div>
      <Button submit marginTop="20">Войти</Button>
    </Fragment>
    <span class="guest__footer" slot="footer">
      У вас еще нет учетной записи? <Link href="/registration.html">
        Зарегистрироваться?
      </Link>
    </span>
  </Guest>
</Layout>
