---
import Backlink from "@components/Backlink.astro";
import Button from "@components/Button.astro";
import Field from "@components/Input/Field.astro";
import Input from "@components/Input/Input.astro";
import Select from "@components/Input/Select.astro";
import LayoutUser from "@components/LayoutUser.astro";
import Profile, { type ProfileType } from "@components/Profile.astro";

const user: ProfileType = {
  avatar: "/img/izmailova.png",
  name: "Измайлова Ольга Ивановна",
  role: "Администратор",
};
---

<LayoutUser title="Профиль Пользователя">
  <Backlink href="#">Главная</Backlink>
  <Profile profile={user} grow>
    <Fragment slot="col1">
      <Field id="phone" label="Телефон" variant="gray">
        <Input
          type="text"
          name="phone"
          id="phone"
          value="+ 7 (999) 111-22-33"
        />
      </Field>
      <Field id="company" label="Название компании" variant="gray">
        <Select
          id="company"
          name="company"
          options={[
            "ООО “Рога и копыта”",
            "Энергострой",
            "Яндекс",
            "SpaceApp",
            "ValTec",
          ]}
        />
      </Field>
      <Field id="inn" label="ИНН компании" variant="gray">
        <Input id="inn" name="inn" type="text" value="7727563778" />
      </Field>
      <Field id="department" label="Название подразделения" variant="gray">
        <Select
          id="department"
          name="department"
          options={[
            "Отдел снабжения",
            "Отдел маркетинга",
            "Отдел продаж",
            "Отдел безопасности",
            "Отдел обучения",
          ]}
        />
      </Field>
      <Field id="occupation" label="Должность пользователя" variant="gray">
        <Input
          type="text"
          name="occupation"
          id="occupation"
          value="Начальник отдела"
        />
      </Field>
    </Fragment>
    <Fragment slot="col2">
      <Field id="email" label="E-mail" variant="gray">
        <Input
          type="email"
          name="email"
          id="email"
          value="IvanovaOI@email.com"
        />
      </Field>
      <Field id="date" label="Дата рождения" variant="gray">
        <Input type="date" name="date" id="date" value="15.03.1990" />
      </Field>
      <Field id="gender" label="Пол" variant="gray">
        <Select id="gender" name="gender" options={["Женский", "Мужской"]} />
      </Field>
      <Field id="role" label="Роль" variant="gray">
        <Select
          id="role"
          name="role"
          options={[
            "Администратор",
            "Менеджер",
            "Глава отдела",
            "Линейный сотрудник",
          ]}
        />
      </Field>
      <Field id="password" label="Пароль" variant="gray">
        <Input
          type="password"
          name="password"
          id="password"
          value="vova123vova123"
        />
      </Field>
    </Fragment>
    <Button slot="row" submit>Сохранить изменения</Button>
  </Profile>
</LayoutUser>
