---
import Field from "@components/Input/Field.astro";
import Input from "@components/Input/Input.astro";
import Backlink from "@components/Backlink.astro";
import Profile, { type ProfileType } from "@components/Profile.astro";
import Select from "@components/Input/Select.astro";
import LayoutUser from "@components/LayoutUser.astro";
import Button from "@components/Button.astro";

const user: ProfileType = {
  avatar: "/img/petrov.png",
  name: "Петров Петр Петрович",
  role: "Администратор каталога",
};
---

<LayoutUser title="Карточка Пользователя">
  <Backlink href="/users.html">Пользователи</Backlink>
  <Profile profile={user} grow>
    <Fragment slot="col1">
      <Field id="phone" label="Телефон" variant="gray">
        <Input
          type="text"
          name="phone"
          id="phone"
          value="+ 7 (999) 111-22-33"
        />
      </Field>
      <Field id="email" label="E-mail" variant="gray">
        <Input type="email" name="email" id="email" value="PetrovP@email.com" />
      </Field>
      <Field id="company" label="Название компании" variant="gray">
        <Select
          id="company"
          name="company"
          options={[
            "ООО “Ромашка”",
            "Энергострой",
            "Яндекс",
            "SpaceApp",
            "ValTec",
          ]}
        />
      </Field>
      <Field id="department" label="Название подразделения" variant="gray">
        <Select
          id="department"
          name="department"
          options={[
            "Отдел снабжения",
            "Отдел маркетинга",
            "Отдел продаж",
            "Отдел безопасности",
            "Отдел обучения",
          ]}
        />
      </Field>
      <Field id="occupation" label="Должность пользователя" variant="gray">
        <Input
          type="text"
          name="occupation"
          id="occupation"
          value="Заместитель начальника отдела"
        />
      </Field>
    </Fragment>
    <Fragment slot="col2">
      <Field id="date" label="Дата рождения" variant="gray">
        <Input type="date" name="date" id="date" value="22.02.1980" />
      </Field>
      <Field id="gender" label="Пол" variant="gray">
        <Select id="gender" name="gender" options={["Мужской", "Женский"]} />
      </Field>
      <Field id="role" label="Роль" variant="gray">
        <Select
          id="role"
          name="role"
          options={[
            "Администратор Каталога",
            "Менеджер",
            "Глава отдела",
            "Линейный сотрудник",
          ]}
        />
      </Field>
      <Field id="status" label="Статус" variant="gray">
        <Select
          id="status"
          name="status"
          options={["Aктивен", "Отошёл", "Заблокирован"]}
        />
      </Field>
    </Fragment>
    <Button slot="row" submit>Сохранить изменения</Button>
  </Profile>
</LayoutUser>
