<div class="ac">
  <div class="ac-header">
    <div class="ac-trigger">О системе</div>
  </div>
  <div class="ac-panel">
    <div class="ac-content">
      <ul class="front__list front__list--white">
        <li>Подходит для создания и работы базы знаний.</li>
        <li>Для протоколирования совещаний и фиксации постановлений.</li>
        <li>
          Должностные обязанности и инструкции, персонализация офферов
          (должностные обязанности, условия прохождения испытательного срока)
          сотрудников.
        </li>
        <li>
          Контроль за календарем повторяющихся процессов. События по днями
          годам.
        </li>
        <li>
          Для учащихся и образовательных организаций: конспекты учащихся, билеты
          для подготовки к экзаменам.
        </li>
        <li>Создание инструкций в красивом фирменном стиле.</li>
      </ul>
    </div>
  </div>
</div>
<div class="ac">
  <div class="ac-header">
    <div class="ac-trigger">Система имеет виды доступа</div>
  </div>
  <div class="ac-panel">
    <div class="ac-content">
      <ul class="front__list front__list--white">
        <li>Персональный пользователя – для личных данных.</li>
        <li>
          Руководитель отдела кадров, руководитель отдела - персональные данные
          сотрудника, требования к сотруднику отдела – должностные инструкции,
          цели, оффер.
        </li>
        <li>
          Раздел отдела – общая документация отдела (регламенты, инструкции,
          должностные обязанности).
        </li>
        <li>Раздел компании – общая информация компании.</li>
      </ul>
    </div>
  </div>
</div>
