---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<section class="backlink section">
  <div class="backlink__container">
    <a {href} class="backlink__element">
      <span class="icon-arrow-small"></span>
      <slot />
    </a>
  </div>
</section>