---
import Button from "./Button.astro";
import Link from "./Link.astro";
---

<div class="document">
  <div class="document__container">
    <div class="document__head">
      <p class="document__description">
        Также как постоянное информационно-пропагандистское обеспечение нашей
        деятельности в значительной степени обусловливает важность
        экспериментов, поражающих по своей масштабности и грандиозности. А также
        реплицированные с зарубежных источников, современные исследования будут
        обнародованы. В частности, курс на социально-ориентированный
        национальный проект способствует подготовке и реализации прогресса
        профессионального сообщества.
      </p>
      <div class="document__tags">
        <Link href='#' variant="tag">#Название тега</Link>
        <Link href='#' variant="tag">#Название тега 2</Link>
      </div>
    </div>
    <div class="document__content">
      <h2>Заголовок Н2</h2>
      <p>
        Также как постоянное информационно-пропагандистское обеспечение нашей
        деятельности в значительной степени обусловливает важность
        экспериментов, поражающих по своей масштабности и грандиозности. А также
        реплицированные с зарубежных источников, современные исследования будут
        обнародованы. В частности, курс на социально-ориентированный
        национальный проект способствует подготовке и реализации прогресса
        профессионального сообщества.
      </p>
      <p>
        Также как постоянное информационно-пропагандистское обеспечение нашей
        деятельности в значительной степени обусловливает важность
        экспериментов, поражающих по своей масштабности и грандиозности. А также
        реплицированные с зарубежных источников, современные исследования будут
        обнародованы. В частности, курс на социально-ориентированный
        национальный проект способствует подготовке и реализации прогресса
        профессионального сообщества.
      </p>
      <p>
        Таким образом, глубокий уровень погружения выявляет срочную потребность
        экспериментов, поражающих по своей масштабности и грандиозности. Но
        действия представителей оппозиции, которые представляют собой яркий
        пример континентально-европейского типа политической культуры, будут
        превращены в посмешище, хотя само их существование приносит несомненную
        пользу обществу. Каждый из нас понимает очевидную вещь: реализация
        намеченных плановых заданий предполагает независимые способы реализации
        переосмысления внешнеэкономических политик.
      </p>
      <p>
        <img src="/img/papers.jpg" alt="" width="645" height="430" />
      </p>
      <h3>Заголовок Н3</h3>
      <p>
        Также как постоянное информационно-пропагандистское обеспечение нашей
        деятельности в значительной степени обусловливает важность
        экспериментов, поражающих по своей масштабности и грандиозности. А также
        реплицированные с зарубежных источников, современные исследования будут
        обнародованы. В частности, курс на социально-ориентированный
        национальный проект способствует подготовке и реализации прогресса
        профессионального сообщества.
      </p>
      <p>
        <img src="/img/papers.jpg" alt="" width="405" height="316" /><img
          src="/img/papers.jpg"
          alt=""
          width="405"
          height="316"
        />
      </p>
      <p>
        Также как постоянное информационно-пропагандистское обеспечение нашей
        деятельности в значительной степени обусловливает важность
        экспериментов, поражающих по своей масштабности и грандиозности. А также
        реплицированные с зарубежных источников, современные исследования будут
        обнародованы. В частности, курс на социально-ориентированный
        национальный проект способствует подготовке и реализации прогресса
        профессионального сообщества.
      </p>
      <p>
        Таким образом, глубокий уровень погружения выявляет срочную потребность
        экспериментов, поражающих по своей масштабности и грандиозности. Но
        действия представителей оппозиции, которые представляют собой яркий
        пример континентально-европейского типа политической культуры, будут
        превращены в посмешище, хотя само их существование приносит несомненную
        пользу обществу. Каждый из нас понимает очевидную вещь: реализация
        намеченных плановых заданий предполагает независимые способы реализации
        переосмысления внешнеэкономических политик.
      </p>
      <blockquote>
        <p>
          Также как постоянное информационно-пропагандистское обеспечение нашей
          деятельности в значительной степени обусловливает важность
          экспериментов, поражающих по своей масштабности и грандиозности. А
          также реплицированные с зарубежных источников, современные
          исследования будут обнародованы. В частности, курс на
          социально-ориентированный национальный проект способствует подготовке
          и реализации прогресса профессионального сообщества.
        </p>
      </blockquote>
      <h3>Заголовок Н3</h3>
      <ul>
        <li>
          Также как постоянное информационно-пропагандистское обеспечение нашей
          деятельности в значительной степени обусловливает важность
          экспериментов, поражающих по своей масштабности и грандиозности. А
          также реплицированные.
        </li>
        <li>
          Таким образом, глубокий уровень погружения выявляет срочную
          потребность экспериментов, поражающих по своей масштабности и
          грандиозности. Но действия представителей оппозиции, которые
          представляют собой яркий пример континентально-европейского типа
          политической культуры.
        </li>
        <li>
          Также как постоянное информационно-пропагандистское обеспечение нашей
          деятельности в значительной степени обусловливает важность
          экспериментов, поражающих по своей масштабности и грандиозности. А
          также реплицированные.
        </li>
        <li>
          Таким образом, глубокий уровень погружения выявляет срочную
          потребность экспериментов, поражающих по своей масштабности и
          грандиозности. Но действия представителей оппозиции, которые
          представляют собой яркий пример континентально-европейского типа
          политической культуры.
        </li>
      </ul>
    </div>
    <form class="document__form">
      <Button submit size="document" icon="check"
        >Подтвердить ознакомление с документом</Button
      >
    </form>
  </div>

  <div class="document__aside">
    <slot />
  </div>
</div>
