---
interface Props {
  title: string;
  top?: "60" | "40";
  type?: "content" | "form";
  variant?: "content" | "form" | "search";
}

const { title, top, type = "content", variant = "content" } = Astro.props;

const Element = type === "form" ? "form" : "div";
const classList = ["headline", "section"];
if (top) classList.push(`headline--mt${top}`);
---

<section class:list={classList}>
  <div class="headline__container">
    <h1 class="headline__title">{title}</h1>
    <Element class={`headline__${variant}`}><slot /></Element>
  </div>
</section>
