---
interface Props {
  title: string;
  top?: "60" | "40";
  type?: "content" | "form";
  variant?: "content" | "form" | "search";
  div?: boolean;
}

const { title, top, type = "content", variant = "content", div } = Astro.props;

const Element = type === "form" ? "form" : "div";
const Container = div ? "div" : "section";

const classList = ["headline", { "headline--mb": !div }, { section: !div }];
if (top) classList.push(`headline--mt${top}`);
---

<Container class:list={classList}>
  <div class="headline__container">
    <h1 class="headline__title">{title}</h1>
    <Element class={`headline__${variant}`}><slot /></Element>
  </div>
</Container>
