---
interface Props {
  title: string;
  top?: boolean;
  type?: "content" | "form";
  variant?: "content" | "form" | "search";
  div?: boolean;
}

const { title, top, type = "content", variant = "content", div } = Astro.props;

const Element = type === "form" ? "form" : "div";
const Container = div ? "div" : "section";
const H = div ? "h2" : "h1";

const classList = [
  "headline",
  { "headline--mb": !div },
  { section: !div },
  { "headline--top": top },
];
---

<Container class:list={classList}>
  <div class="headline__container">
    <H class="headline__title">{title}</H>
    <Element class={`headline__${variant}`}><slot /></Element>
  </div>
</Container>
