---
interface Props {
  title?: string;
}

const { title = "Заголовок" } = Astro.props;

const version = String(Date.now()).substring(5);
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/plugins/air-datepicker/air-datepicker.css" />
    <link rel="stylesheet" href="/plugins/choices/choices.min.css" />
    <link rel="stylesheet" href="/plugins/accordion/accordion.min.css" />
    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href=`/css/style.css?v=0.${version}` />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script is:inline src="/plugins/air-datepicker/air-datepicker.js" defer
    ></script>
    <script is:inline src="/plugins/imask/imask.js" defer></script>
    <script is:inline src="/plugins/choices/choices.min.js" defer></script>
    <script is:inline src="/plugins/minimasonry/minimasonry.min.js" defer></script>
    <script is:inline src="/plugins/accordion/accordion.min.js" defer></script>
    <script is:inline src=`/js/script.js?v=0.${version}` defer></script>
  </body>
</html>
