---
import Avatar from "./Avatar.astro";

export type ProfileType = {
  avatar: string;
  name?: string;
  role?: string;
};

interface Props {
  profile?: ProfileType;
  grow?: boolean;
}

const { profile, grow } = Astro.props;

const classList = ["profile__container"];
if (profile) classList.push(`profile__container--info`);
---

<section class:list={["profile", { "profile--grow": grow }, "section"]}>
  <form class:list={classList}>
    {
      profile && (
        <div class="profile__info">
          <div class="profile__avatar">
            <Avatar image={profile.avatar} />
          </div>
          {profile.name && <div class="profile__name">{profile.name}</div>}
          {profile.role && <div class="profile__role">{profile.role}</div>}
        </div>
      )
    }
    <div
      class:list={[
        "profile__form",
        { "profile__form--even": Astro.slots.has("col2") },
      ]}
    >
      <div class="profile__col">
        <slot name="col1" />
      </div>
      {
        Astro.slots.has("col2") && (
          <div class="profile__col">
            <slot name="col2" />
          </div>
        )
      }
      <slot name="row" />
    </div>
  </form>
</section>
