---
interface Props {
  name: string;
  placeholder: string;
  variant?: "small";
}

const { placeholder, name, variant } = Astro.props;
const classList = ["search"];
if (variant) classList.push(`search--${variant}`);
---

<div class:list={classList}>
  <input {name} {placeholder} type="text" class="search__element" />
  <button type="submit" class="search__icon icon-search"></button>
</div>
