.portal {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  &__image {
    object-fit: contain;
    align-self: end;
    width: clamp(500px, 50vw, 770px);
    margin-left: clamp(-115px, -10vw, 0px);
    margin-bottom: 10px;
  }

  &__accordion {
    color: white;
    flex-basis: 50%;

    .ac.is-active > .ac-header .ac-trigger::after {
      margin-top: 10px;
      content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z" fill="white"/></svg>');
    }
    .ac {
      margin-top: unset;
      border: unset;
      background-color: transparent;

      &:not(:last-child) {
        margin-bottom: #{fluid(15px, 20px)};
      }
      & .ac-trigger {
        font-family: "Onest", sans-serif;
        color: white;
        font-weight: 500;
        font: unset;
        font-size: #{fluid(16px, 20px)};
        border-bottom: 2px solid white;
        padding: unset;
        padding-bottom: #{fluid(15px, 20px)};
        display: flex;
        justify-content: space-between;

        &::after {
          height: 20px;
          width: auto;
          position: unset;
          transform: unset;
          content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z" fill="white"/></svg>');
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .portal {
    flex-direction: column;
    &__image {
      align-self: center;
      margin-left: unset;
    }

    &__accordion {
      .ac {
        &:not(:last-child) {
        }
        & .ac-trigger {
          &::after {
          }
        }
      }
    }
  }
}
